body {
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial;
    font-size: 12px;
}

#left {
    width: 50px;
    height: 1px;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    min-width: 0;
    overflow: hidden;
}

#right {
    width: 80px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

#right ul {
    margin: 0;
    padding: 0;
}

#container {
    width: 680px;
    float: left;
    margin-top: 20px;
    padding: 0;
}

#header {
    margin: 0;
    padding: 0;
}

#header p {
    margin-top: 0;
    margin-bottom: 5;
}

#h1 #h2 #h3 {
    margin: 0;
}

ul {
    list-style: none;
}
